<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1 class="light-font">New Post</h1>
      <form action="/topics/<%= topicId %>/posts/create" method="post">
        <div class="form-group">
          <label for="title" class="light-font">Post title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
          <small class="light-font" id="titleHelp">Post title must be at least two characters long</small>
        </div>
        <div class="form-group">
          <label for="body" class="light-font">Post body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Post body"></textarea>
          <small class="light-font" id="bodyHelp">Post body must be at least ten characters long</small>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
