<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1 class="dark-font">Sign up</h1>
      <form action="/users" method="post">

        <div class="form-group">
          <label for="email" class="light-font">Email</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small class="light-font" id="emailHelp">Email address must be a valid</small>
        </div>

        <div>
          <label for="password" class="light-font">Password</label>
          <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small class="light-font" id="passwordHelp">Password must match confirmation below</small>
        </div>

        <div>
          <label for="passwordConfirmation" class="light-font">Password confirmation</label>
          <input type="password" class="form-control" name="passwordConfirmation" aria-describedby="passwordHelp" placeholder="Enter password confirmation">
        </div>

        <button type="submit" class="btn btn-dark" style="margin-top: 2px;">Sign up</button>

      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
